<%- include('includes/header.ejs') %>

    <%- include('includes/navbar.ejs') %>

        <div class="index">
            <div class="index1">
                <div class="index-graph">
                    <div class="graph0">Statistiques des adhérents</div>
                    <div class="graph1">
                        <div class="graph-item" id="js-graph1"></div>
                    </div>
                    <div class="graph2">
                        <div class="graph-item" id="js-graph2"></div>
                    </div>
                    <div class="graph3">
                        <div class="graph-item" id="js-graph3"></div>
                    </div>
                    <div class="graph4">
                        <div class="graph-item" id="js-graph4"></div>
                    </div>
                    <div class="graph5">
                        <div class="graph-stat">
                            <div class="stat-label">Artisanat : <%= adherents.filter(el => el.section ==="artisanat").length %></div>
                        </div>
                    </div>
                    <div class="graph6">
                        <div class="graph-stat">
                            <div class="stat-label">Commerce : <%= adherents.filter(el => el.section ==="commerce").length %></div>
                        </div>
                    </div>
                    <div class="graph7">
                        <div class="graph-stat">
                            <div class="stat-label">Industrie : <%= adherents.filter(el => el.section ==="industrie").length %></div>
                        </div>
                    </div>
                    <div class="graph8">
                        <div class="graph-stat">
                            <div class="stat-label">Services : <%= adherents.filter(el => el.section ==="services").length %></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index2">
                <div class="index-action">Ajouter un adhérent</div>
            </div>
            <div class="index3">
                <div class="index-last">
                    <div class="last-item"></div>
                    <div class="last-item"></div>
                    <div class="last-item"></div>
                    <div class="last-item"></div>
                    <div class="last-item"></div>
                </div>
            </div>
        </div>
        </body>
        <script>
            let graphItem1 = document.getElementById('js-graph1')
            let graphItem2 = document.getElementById('js-graph2')
            let graphItem3 = document.getElementById('js-graph3')
            let graphItem4 = document.getElementById('js-graph4')
            let total = '<%= adherents.length %>';
            let artisanatCount = '<%= adherents.filter(el => el.section ==="artisanat").length %>' / total * 100;
            let commerceCount = '<%= adherents.filter(el => el.section ==="commerce").length %>' / total * 100;
            let industrieCount = '<%= adherents.filter(el => el.section ==="industrie").length %>' / total * 100;
            let servicesCount = '<%= adherents.filter(el => el.section ==="services").length %>' / total * 100;

            let maximum = Math.max(artisanatCount, commerceCount, industrieCount, servicesCount);
            switch (maximum) {
                case artisanatCount:
                    console.log('artisanat is max');
                    break;
                case commerceCount:
                    console.log('commerce is max');
                    break; case industrieCount:
                    console.log('industrie is max');
                    break; case servicesCount:
                    console.log('services is max');
                    break;
                default:
                    break;
            }
            graphItem1.style.height = `${artisanatCount / maximum * 100}%`;
            graphItem2.style.height = `${commerceCount / maximum * 100}%`;
            graphItem3.style.height = `${industrieCount / maximum * 100}%`;
            graphItem4.style.height = `${servicesCount / maximum * 100}%`;
        </script>

        </html>