<%- include('includes/header.ejs') %>


    <body>
        <%- include('includes/navbar.ejs') %>
            <div class="content">
                <h1 class="title">Modifier un adhérent</h1>
                <div class="form-container">
                    <form class="form-flex" method="POST">
                        <div class="form-group">
                            <label for="image" class="form-label">Logo de l' entreprise</label>
                            <input value="<%= adherents[0].logo %>" type="text" id="logo" name="logo" class="form-input"
                                placeholder="Url du logo" />
                        </div>
                        <div class="form-group">
                            <label for="entreprise" class="form-label">Raison Sociale</label>
                            <input value="<%= adherents[0].entreprise %>" required name="entreprise" id="entreprise"
                                type="text" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="section" class="form-label">Section</label>
                            <select required name="section" id="section" class="form-select">
                                <option value="">Choisir une section</option>
                                <option <% if (adherents[0].section==='artisanat' ) { %>
                                    <%= 'selected' %>
                                        <% } %> value="artisanat">Artisanat
                                </option>
                                <option <% if (adherents[0].section==='commerce' ) { %>
                                    <%= 'selected' %>
                                        <% } %> value="commerce">Commerce
                                </option>
                                <option <% if (adherents[0].section==='industrie' ) { %>
                                    <%= 'selected' %>
                                        <% } %> value="industrie">Industrie
                                </option>
                                <option <% if (adherents[0].section==='services' ) { %>
                                    <%= 'selected' %>
                                        <% } %> value="services">Services
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="activite" class="form-label">Activité de l' entreprise</label>
                            <input value="<%= adherents[0].activite %>" id="activite" required type="text"
                                name="activite" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="adresse" class="form-label">Adresse de l' entreprise</label>
                            <input value="<%= adherents[0].adresse %>" id="adresse" required type="text" name="adresse"
                                class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="nom" class="form-label">Nom du représentant</label>
                            <input value="<%= adherents[0].nom %>" id="nom" required type="text" name="nom"
                                class="form-input" placeholder="Réponse">
                        </div>
                        <input type="hidden" name="id" id="id" value="<%= adherents[0]._id%>">
                        <div class="form-group">
                            <label for="prenom" class="form-label">Prénom du représentant</label>
                            <input value="<%= adherents[0].prenom %>" id="prenom" required type="text" name="prenom"
                                class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Adresse E-mail</label>
                            <input value="<%= adherents[0].email %>" id="email" required type="text" name="email"
                                class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="form-label">Numéro de téléphone</label>
                            <input value="<%= adherents[0].telephone %>" id="telephone" required type="text"
                                name="telephone" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="identifiant" class="form-label">Mot de passe</label>
                            <div class="generate-field">
                                <input value="<%= adherents[0].identifiant %>" required maxlength="5" id="identifiant"
                                    type="text" id="identifiant" name="identifiant" class="form-input"
                                    placeholder="Réponse">
                                <div class="generate" onclick="generateCode()"></div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="siteweb" class="form-label">Site web</label>
                            <input value="<%= adherents[0].siteweb %>" type="text" name="siteweb" id="siteweb"
                                class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-action">
                            <button type="submit" onclick="editAdherent(event)" class="cta">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>

    </body>
    <script>

        function editAdherent(event) {
                
            let id = document.getElementById('id').value;
            let adherent = {
                entreprise: document.getElementById('entreprise').value,
                activite: document.getElementById('activite').value,
                section: document.getElementById('section').value,
                adresse: document.getElementById('adresse').value,
                nom: document.getElementById('nom').value,
                prenom: document.getElementById('prenom').value,
                email: document.getElementById('email').value,
                telephone: document.getElementById('telephone').value,
                identifiant: document.getElementById('identifiant').value,
                siteweb: document.getElementById('siteweb').value,
                logo: document.getElementById('logo').value,
            }
            console.log(adherent);
            try {
                fetch(`https://cpmereunion.herokuapp.com/api/adherents/${id}`, {
                headers : {
                    'Content-type': 'application/json'
                },
                method: "PUT",
                body: JSON.stringify(adherent)
            })
            alert('Mandat modifié, vous allez être redirigé')
            setTimeout(() => {
            document.location.assign(`/profil-mandat?id=${id}`)
            }, 500);

            } catch (error) {
                console.log(error);
            }
        }
        function generateCode() {
            let field = document.getElementById('identifiant');
            let result = ''
            var characters = 'ABCDEFGHIJKLMNPQRSTUVWXYZ0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < 5; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            field.value = result;
        }
    </script>
    <script src="/js/index.js"></script>

    </html>