<%- include('includes/header.ejs') %>


    <body>
        <%- include('includes/navbar.ejs') %>
            <div class="content">
                <h1 class="title">Modifier les informations de contact</h1>
                <div class="form-container">
                    <form class="form-flex" method="POST">
                        <div class="form-group">
                            <label for="titre" class="form-label">Titre du contact</label>
                            <input <% if(adherents[0].contact) { %>
                            value="<%= adherents[0].contact.titre %>"
                                <%} %> required name="titre" id="titre" type="text" class="form-input"
                                    placeholder="Réponse">
                        </div>

                        <div class="form-group">
                            <label for="nom" class="form-label">Nom du contact</label>
                            <input <% if(adherents[0].contact) { %>
                            value="<%= adherents[0].contact.nom %>"
                                <%} %> id="nom" required
                                    type="text" name="nom" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="prenom" class="form-label">Prénom du contact</label>
                            <input <% if(adherents[0].contact) { %>
                            value="<%= adherents[0].contact.prenom%>"
                                <%} %> id="prenom"
                                    required type="text" name="prenom" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Email du contact</label>
                            <input <% if(adherents[0].contact) { %>
                            value="<%= adherents[0].contact.email %>"
                                <%} %> id="email"
                                    required type="text" name="email" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="form-label">Téléphone du contact</label>
                            <input <% if(adherents[0].contact) { %>
                            value="<%= adherents[0].contact.telephone %>"
                                <%} %>
                                    id="telephone" required type="text" name="telephone" class="form-input"
                                    placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="linkedin" class="form-label">Linkedin du contact</label>
                            <input <% if(adherents[0].contact) { %>
                            value="<%= adherents[0].contact.linkedin %>"
                                <%} %>
                                    id="linkedin" required type="text" name="linkedin" class="form-input"
                                    placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="titreSecondaire" class="form-label">Titre du contact secondaire</label>
                            <input <% if(adherents[0].contactSecondaire) { %>
                            value="<%= adherents[0].contactSecondaire.titre %>"
                                <%} %>
                                    required name="titreSecondaire" id="titreSecondaire" type="text" class="form-input"
                                    placeholder="Réponse">
                        </div>

                        <div class="form-group">
                            <label for="nomSecondaire" class="form-label">Nom du contact secondaire</label>
                            <input <% if(adherents[0].contactSecondaire) { %>
                            value="<%= adherents[0].contactSecondaire.nom %>"
                                <%} %>
                                    id="nomSecondaire" required type="text" name="nomSecondaire" class="form-input"
                                    placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="prenomSecondaire" class="form-label">Prénom du contact secondaire</label>
                            <input <% if(adherents[0].contactSecondaire) { %>
                            value="<%= adherents[0].contactSecondaire.prenom %>"
                                <%} %>
                                    id="prenomSecondaire" required type="text" name="prenomSecondaire"
                                    class="form-input"
                                    placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="emailSecondaire" class="form-label">Email du contact secondaire</label>
                            <input <% if(adherents[0].contactSecondaire) { %>
                            value="<%= adherents[0].contactSecondaire.email %>"
                                <%} %>
                                    id="emailSecondaire" required type="text" name="emailSecondaire" class="form-input"
                                    placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="telephoneSecondaire" class="form-label">Téléphone du contact secondaire</label>
                            <input <% if(adherents[0].contactSecondaire) { %>
                            value="<%= adherents[0].contactSecondaire.telephone%>"
                                <%} %>
                                    id="telephoneSecondaire" required type="text" name="telephoneSecondaire"
                                    class="form-input" placeholder="Réponse">
                        </div>
                        <input type="hidden" name="id" id="id" value="<%= adherents[0]._id%>">

                        <div class="form-group">
                            <label for="linkedinSecondaire" class="form-label">Linkedin du contact secondaire</label>
                            <input <% if(adherents[0].contactSecondaire) { %>
                            value="<%= adherents[0].contactSecondaire.linkedin %>"
                                <%} %>
                                    id="linkedinSecondaire" required type="text" name="linkedinSecondaire"
                                    class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-action">
                            <button type="submit" onclick="editAdherent(event)" class="cta">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>

    </body>
    <script>

        function editAdherent(event) {
            event.preventDefault();
            let id = document.getElementById('id').value;
            let adherent = {
                contact: {
                    titre: document.getElementById('titre').value,
                    nom: document.getElementById('nom').value,
                    prenom: document.getElementById('prenom').value,
                    email: document.getElementById('email').value,
                    telephone: document.getElementById('telephone').value,
                    linkedin: document.getElementById('linkedin').value
                },
                contactSecondaire: {
                    titre: document.getElementById('titreSecondaire').value,
                    nom: document.getElementById('nomSecondaire').value,
                    prenom: document.getElementById('prenomSecondaire').value,
                    email: document.getElementById('emailSecondaire').value,
                    telephone: document.getElementById('telephoneSecondaire').value,
                    linkedin: document.getElementById('linkedinSecondaire').value
                }

            }
            console.log(adherent);
            try {
                fetch(`https://cpmereunion.herokuapp.com/api/adherents/contact/${id}`, {
                    headers: {
                        'Content-type': 'application/json'
                    },
                    method: "PATCH",
                    body: JSON.stringify(adherent)
                })
                // setTimeout(() => {
                //     document.location.reload()
                // }, 500);

            } catch (error) {
                console.log(error);
            }
        }
    </script>
    <script src="/js/index.js"></script>

    </html>